<%= form_for(@profile, html: {class: "form-horizontal", role: "form"}) do |f|%>
  <div class="form-group">
    <%= f.label :name, "司機顯示名稱", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, "司機顯示照片", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <% if current_user.profile %>
      <%= image_tag current_user.profile.image.thumb.url unless current_user.profile.image.blank?%>
    <% end %>
      <%= f.file_field :image %>
    </div>
  </div>


  <div class="form-group">
    <%= label_tag '車型',nil, class: "control-label col-sm-2" %>
    
    <% if current_user.profile %>
      <% profile_cars = ProfileCar.where(profile_id: current_user.profile.id).select(:id, :car_id).map{ |i| i.car.id}.uniq%>
    <% else %>
      <% profile_cars = [] %>
    <% end %>

    <% if current_user.profile  %>
        <% custom_car = current_user.profile.cars.where(is_default: false).last.name %>
      <% else %>
        <% custom_car = "" %>
    <% end %>

    <div class="col-sm-10" >
      <% Car.select(:id, :name).where(is_default: true).each do |car| %>
        <%= check_box_tag "car_select[]", car.id, profile_cars.include?(car.id), class: "checkbox-inline"%>
        <%= label_tag car.name, nil, class: "control-label" %>
      <% end %>
      <%= check_box_tag "is_custom_car", nil, nil, onclick: 'custom_car_disable();' %>其他<%= text_field_tag :custom_car,custom_car, disabled: true %>
      </div>
  </div>
<!-- 
  <div class="form-group">
    <%= f.label :car_name, "車型", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_check_boxes(:car_ids, Car.all, :id, :name) do |b| %>
        <%= b.check_box class: "checkbox-inline" %>
        <%=b.label %>
      <% end %>
    </div>
  </div>
 -->

  <div class="form-group">
    <%= f.label :car_age, "車齡", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :car_age, [1,2,3,4,5,6,7,8,9,10],class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :capacity, "乘客人數", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :capacity, [1,2,3,4,5,6,7,8,9,10],class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%=f.label :name, "設備", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      
      <% if current_user.profile  && current_user.profile.equiments.where(is_default: false).last%>
        <% custom_eq = current_user.profile.equiments.where(is_default: false).last.name %>
      <% else %>
        <% custom_eq = "" %>
      <% end %>

      <%=f.collection_check_boxes(:equiment_ids, Equiment.where(is_default: true), :id, :name) do |b| %>
        <%= b.check_box class: "checkbox-inline" %>
        <%= b.label %>
      <% end %>
      <%= check_box_tag :is_custom_eq,nil, nil, onclick: 'custom_eq_disable();' %>其他<%= text_field_tag :custom_eq, custom_eq, disabled: true%>
    </div>
  </div>

  <div class="form-group">

    <% if current_user.profile && current_user.profile.languages.where(is_default: false).last%>
        <% custom_lan = current_user.profile.languages.where(is_default: false).last.name %>
      <% else %>
        <% custom_lan = "" %>
    <% end %>

    <%= f.label :name, "語言", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_check_boxes(:language_ids, Language.where(is_default: true), :id, :name) do |b| %>
        <%= b.check_box class: "checkbox-inline" %>
        <%= b.label %>
      <% end %>
      <%= check_box_tag :is_custom_lan, nil, nil, onclick: "custom_lan_disable();" %> 其他<%= text_field_tag :custom_lan, custom_lan, disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :insurance, "保險", class: "col-sm-2 control-label"%>
    <div class="col-sm-10" >
      <%= check_box_tag :insurance_check,nil,nil, {class: "checkbox-inline", onclick: 'insurance_input_disable();', checked: @profile.insurance?} %>
      意外險<%= f.number_field :insurance , disabled: true%>萬元
    </div>
  </div>

  <div class="form-group">
    <%= f.label :services, "服務項目", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.check_box :is_for_travel, onclick: "for_travel();"%>
    <%= f.label :is_for_travel, "旅遊包車:"%>
    </div>
    <div class="col-xs-10 travel-checked-box">
        <%= label_tag :service_location, "可接送地:", class: "control-label" %>
        <%= f.collection_check_boxes(:for_travel_ids, ForTravel.where(is_default: true), :id, :location) do |b| %>
          <%= b.check_box class: "checkbox-inline", disabled: true%>
          <%= b.label %>
        <% end %>

      <% if current_user.profile  && current_user.profile.for_travels.where(is_default: false).last%>
        <% custom_travel = current_user.profile.for_travels.where(is_default: false).last.location %>
      <% else %>
        <% custom_travel = "" %>
      <% end %>

        <%= check_box_tag :is_custom_travel,nil ,nil, disabled: true, onclick: "for_travel_etc();", class: "checkbox-inline" %>其他<%= text_field_tag :custom_travel, custom_travel,  disabled: true %>
    </div>
    
    <div class="col-sm-offset-2 col-sm-10 ">
    <%= f.check_box :is_for_airport, onclick: "for_airport();"%>
    <%= label_tag "機場接送:", nil, class: "control-label"%>
    </div>

    <div class="col-sm-offset-2 col-sm-10 airport-checked-box">
      <%= f.collection_check_boxes(:for_airport_ids, ForAirport.where(is_default: true), :id, :location) do |b| %>
        <%= b.check_box class: "checkbox-inline", disabled: true%>
        <%= b.label class: "control-label"%>
      <% end %>

      <% if current_user.profile  && current_user.profile.for_airports.where(is_default: false).last%>
        <% custom_airport = current_user.profile.for_airports.where(is_default: false).last.location %>
      <% else %>
        <% custom_airport = "" %>
      <% end %>

      <%= check_box_tag :is_custom_airport,nil, nil, disabled: true, onclick: "for_airport_etc();", class: "checkbox-inline" %>
      <%= label_tag "其他" %>
      <%= text_field_tag :custom_airport,custom_airport , disabled:true %>
    </div>

    <div class="col-sm-10 col-sm-offset-2">
      <%= f.check_box :is_for_hr, onclick: "for_high_rail();" %>
      <%= label_tag "高鐵接送:",nil, class: "control-label" %>
    </div>

    <div class="col-sm-10 col-sm-offset-2 hr-checked-box">
      <%= f.collection_check_boxes(:for_high_rail_ids, ForHighRail.where(is_default: true), :id, :location) do |b| %>
      <%= b.check_box class: "checkbox-inline", disabled: true %>
      <%= b.label class: "control-label" %>
      <% end %>
    </div>
  </div>

  <div class= "form-group">
    <%= label_tag "價格",nil,  class: "control-label col-sm-2" %>
    
    <div class="col-sm-10">
      <%= label_tag "半日", nil, class: "control-label" %>
      <%= f.radio_button :half_day_time, 4%>
      <%=label_tag "4", nil, class: "control-label" %>
      <%= f.radio_button :half_day_time, 5%>
      <%=label_tag "5", nil, class: "control-label" %>
      <%=label_tag "小時,", nil, class: "control-label" %>
      <%= f.number_field :half_day_price %>
      <%=label_tag "元", nil, class: "control-label" %>
    </div>

    <div class="col-sm-10 col-sm-offset-2">
      <%= label_tag "一日", nil, class: "control-label" %>
      <%= f.radio_button :full_day_time, 4%>
      <%=label_tag "8", nil, class: "control-label" %>
      <%= f.radio_button :full_day_time, 5%>
      <%=label_tag "10", nil, class: "control-label" %>
      <%=label_tag "小時,", nil, class: "control-label" %>
      <%= f.number_field :full_day_price %>
      <%=label_tag "元", nil, class: "control-label" %>
    </div>
  
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.label :over_work_time,"超時時段", class: "control-label" %>
      <%= select_hour(@profile.over_work_time1.to_i, {ampm: true} ,class:'control-label') %>
      <%= f.label :over_work_time,"~", class: "control-label" %>
      <%= select_hour(@profile.over_work_time2.to_i, {ampm: true} ,class:'control-label', name: 'date[hour2]') %>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <%= label_tag "超時加價 每小時",nil, class: "control-label"%>
      <%= f.number_field :over_work_price %>
      <%= label_tag "元",nil, class: "control-label"%>
    </div>
    <%= f.submit "完成", class: "btn btn-primary pull-right" %>
  </div>
  

  
  
<% end %>